@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

nav {
    background-color: burlywood;
}

h1 {
    font-family: 'Freckle Face', cursive;
    color: aqua; 
    margin-left: 40%;
}